/* Show it's not fixed to the top */
body {
  min-height: 75rem;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #101010;
  color: rgb(228, 228, 228);
  text-align: center;
  padding: 20px 0;
}

.content {
  text-align: center;
  
}